{{> _postLogin}}
<div class="container">
    {{> _msg}}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Add User</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {{#each errors}}
            <div class="alert alert-danger">{{text}}</div>
            {{/each}}
            <div id="message"></div>
            <form action="/users/add" method="post" name="myuserForm" onsubmit="return validateAddUserForm()">
                <div class="mb-3">
                    <label for="name" class="form-label">User Name</label>
                    <input type="text" required class="form-control" value="{{name}}" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">User Email</label>
                    <input type="email" required class="form-control" value="{{email}}" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">User Phone No.</label>
                    <input type="text" required class="form-control" value="{{phone_no}}" id="phone_no" name="phone_no">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">User Password</label>
                    <input type="password" required class="form-control" value="" id="password" name="password">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">User Confirm Password</label>
                    <input type="password" required class="form-control" value="" id="cpassword" name="cpassword">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>