{{> _postLogin}}
<div class="container">
    {{> _msg}}
    <div class="card">
        <div id="message"></div>
        <div class="card-body">
            <form action="/product/add" method="POST" name="myAddProductForm" enctype="multipart/form-data">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-xs-12 col-6">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" required id="name" name="name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Description</label>
                            <textarea class="form-control" required id="description" name="description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Category</label>
                            <select name="category" onchange="openSubcat(this.value)" class="form-control" required>
                                <option value="">--Please select a Category--</option>
                                {{#each categories}}
                                <option value={{this._id}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Sub-Category <img src='/img/loader.gif'
                                    class="img-responsive hide_loader" id="loader" /></label>
                            <div id="subcat">
                                <select name="subcategory" class="form-control" required>
                                    <option value="">--Please select a SubCategory--</option>
                                </select>
                            </div>
                            <p id="error_sub" class="error-sub"></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-6">
                        <div class="mb-3">
                            <label for="phone" class="form-label">Brand</label>
                            <select name="brand" class="form-control" required>
                                <option value="">--Please select a product brand--</option>
                                {{#each brands}}
                                <option value={{this._id}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Price</label>
                            <input type="number" class="form-control" required id="price" name="price">
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Count In Stock</label>
                            <input type="number" class="form-control" required id="countInStock" name="countInStock">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Product Image(s)</label>
                            <input type="file" class="form-control" required multiple accept='image/*'
                                id="product_image" name="product_image">
                        </div>
                        <div class="col-auto float-right">
                            <button type="submit" class="btn btn-primary mb-3">Add Product</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>